<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">


<head>
    <meta charset="utf-8">
    <!-- This file has been downloaded from Bootsnipp.com. Enjoy! -->
    <title>ChatApp</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet">
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
    <style type="text/css">

        body{
    height:10px;
    position: fixed;
    top: 100px;
}

.chat_base{
     overflow-y: scroll;
}

.col-md-2, .col-md-10{
    padding:0;
}
.panel{
    margin-bottom: 0px;
}
.chat-window{
    margin-left:10px;
}
.chat-window > div > .panel{
    border-radius: 5px 5px 0 0;
}
.icon_minim{
    padding:2px 10px;
}
.msg_container_base{
  background: #e5e5e5;
  margin: 0;
  padding: 0 10px 10px;
  max-height:300px;
  overflow-x:hidden;
}
.top-bar {
  background: #666;
  color: white;
  padding: 10px;
  position: relative;
  overflow: hidden;
}
.msg_receive{
    padding-left:0;
    margin-left:0;
}
.msg_sent{
    padding-bottom:20px !important;
    margin-right:0;
}
.messages {
  background: white;
  padding: 10px;
  border-radius: 2px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  max-width:100%;
}
.messages > p {
    font-size: 13px;
    margin: 0 0 0.2rem 0;
  }
.messages > time {
    font-size: 11px;
    color: #ccc;
}
.msg_container {
    padding: 10px;
    overflow: hidden;
    display: flex;
}
img {
    display: block;
    width: 100%;
}
.avatar {
    position: relative;
}
.base_receive > .avatar:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 0;
    height: 0;
    border: 5px solid #FFF;
    border-left-color: rgba(0, 0, 0, 0);
    border-bottom-color: rgba(0, 0, 0, 0);
}

.base_sent {
  justify-content: flex-end;
  align-items: flex-end;
}
.base_sent > .avatar:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border: 5px solid white;
    border-right-color: transparent;
    border-top-color: transparent;
    box-shadow: 1px 1px 2px rgba(black, 0.2); // not quite perfect but close
}

.msg_sent > time{
    float: right;
}


.msg_container_base::-webkit-scrollbar-track
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar
{
    width: 12px;
    background-color: #F5F5F5;
}

.msg_container_base::-webkit-scrollbar-thumb
{
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color: #555;
}


.btn-group.dropup{
    position:fixed;
    left:0px;
    bottom:0;
}
    </style>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <script src="../js/underscore-min.js"></script>
    <script src="../js/jquery.titlealert.min.js"></script>
    <script src="https://netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
</head>
<body>
<div class="conexion-texto" id="connection-text"></div>
<div class="container">

        <div class="row chat-window col-xs-5 col-md-20" id="chat_window_1" style="margin-left:100px;">
        <div class="col-xs-20 col-md-20">
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-8 col-xs-8">
                        <h3 class="panel-title"><span class="glyphicon glyphicon-comment">
                                                <p id="username"></p>
                                               </span> </h3>
                    </div>
                    <div class="col-md-4 col-xs-4" style="text-align: right;">
                        <a href="#"><span id="minim_chat_window" class="glyphicon glyphicon-minus icon_minim"></span></a>
                        <a href="#"><span class="glyphicon glyphicon-remove icon_close" data-id="chat_window_1"></span></a>
                    </div>
                </div>
                <div class="panel-body msg_container_base" id="chat_base">
                </div>
                <div class="panel-footer" id="write-text">

                </div>
            </div>

        </div>
    </div>
        <div class="row chat-window  col-md-2 col-xs-2" id="chat_window_2" >
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-4 col-xs-4">
                        <h3 class="panel-title">
                            <span class="glyphicon glyphicon-comment">
                             <p id="username"> Usuarios</p> </span> </h3>
                    </div>
                </div>
                <div class="panel-body msg_container_base"  >

                    <div class="col-xs-30 col-md-20" style="margin-top:10px;">
                        <div class="messages"  id="user_base" style="align:left;">

                        </div>
                    </div>

                </div>
            </div>

        </div>



        <div class="row chat-window  col-md-4 col-xs-2" id="chat_window_3" >
            <div class="panel panel-default">
                <div class="panel-heading top-bar">
                    <div class="col-md-10 col-xs-10">
                        <h3 class="panel-title">
                                <span class="glyphicon glyphicon-comment">
                                 <p id="username"> Grupos</p> </span> </h3>
                    </div>
                    <div class="input-group">

                        <input id="btn-input-create" type="text" class="form-control input-sm chat_input" placeholder="Insert name of new group..." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat" onclick="create_group()">create group</button>
                            </span>

                    </div>
                    <div class="input-group">
                        <input id="btn-input-remove" type="text" class="form-control input-sm chat_input" placeholder="Insert group name to remove.." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat" onclick="remove_group()">remove group</button>
                            </span>
                    </div>
                    <div class="input-group">
                        <input id="btn-input-nombreusuario" type="text" class="form-control input-sm chat_input" placeholder="Insert nombre usuario añadir.." />
                        <input id="btn-input-nombregrupo" type="text" class="form-control input-sm chat_input" placeholder="Insert nombre grupo añadir.." />
                        <span class="input-group-btn">
                            <button class="btn btn-primary btn-sm" id="btn-chat" onclick="add_user()">add user</button>
                            <button class="btn btn-primary btn-sm" id="btn-chat" onclick="remove_user()">remove user</button>
                            </span>
                    </div>

                </div>
                <div class="panel-body msg_container_base"  >

                    <div class="col-xs-30 col-md-20" style="margin-top:10px;">
                        <div class="messages"  id="group_base" style="align:left;">

                        </div>
                    </div>

                </div>
            </div>



        </div>




</div>


<div sec:authorize="hasRole('ROLE_ADMIN')">
    <hr>
    <h4><p style="color:#008000";>Bienvenido, lovely admin <3</h4>

    <div class="row chat-window  col-md-4 col-xs-2" id="chat_window_1" >
        <div class="input-group">
            <input id="btn-broadcast" type="text" class="form-control input-sm chat_input" placeholder="Broadcast your message here..." />
            <span class="input-group-btn">
                                <button class="btn btn-primary btn-sm" id="btn-broadcast" onclick="send_broadcast()">Send</button>
                                </span>
        </div>
    </div>
<br><br><br><br>
    <!--<div>
        <form method="GET" action="/trend">
            <input class="btn btn-primary" type="submit" value="Trend"/>
        </form>
    </div>-->

    <a href="https://chatapp.grafana.net" class="btn btn-primary">Go to Grafana</a>

</div>
<br><br>

</body>


<script type="text/javascript">

$('<audio id="chatAudio"><source src="../snd/notify.ogg" type="audio/ogg"><source src="../snd/notify.mp3" type="audio/mpeg"><source src="../snd/notify.wav" type="audio/wav"></audio>').appendTo('body');


var SENDING_TEMPLATE = "<div class='row msg_container base_receive'> \
                        <div class='col-md-2 col-xs-2 avatar'> \
                            <img src='<%= avat %>' class=' img-responsive '>\
                        </div>\
                        <div class='col-md-10 col-xs-10'> \
                            <div class='messages msg_receive'> \
                                <p> <%= msg %> </p> \
                                <time datetime='' >  <%= datetim %> - <%= usr %> </time> \
                            </div> \
                        </div> \
                    </div>"

var RECEIVING_TEMPLATE = "<div class=\"row msg_container base_sent\"> \
                        <div class=\"col-xs-10 col-md-10\">     \
                            <div class=\"messages msg_sent\">   \
                                <p><%= msg %></p>               \
                                <time datetime='' >  <%= datetim %> - <%= usr %> </time> \
                            </div> \
                        </div> \
                        <div class=\"col-md-2 col-xs-2 avatar\"> \
                            <img src=\" <%= avat %> \" class=\" img-responsive \"> \
                        </div> \
                    </div>"

var myUsername = getMyUser();
var currentTo = getUrlParameter('to');
var stompClient = null;

setInterval(function () {bajalo()}, 5000);

$("#username").text(currentTo);
    $(document).on('click', '.panel-heading span.icon_minim', function (e) {
        var $this = $(this);
        if (!$this.hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideUp();
            $this.addClass('panel-collapsed');
            $this.removeClass('glyphicon-minus').addClass('glyphicon-plus');
        } else {
            $this.parents('.panel').find('.panel-body').slideDown();
            $this.removeClass('panel-collapsed');
            $this.removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).on('focus', '.panel-footer input.chat_input', function (e) {
        var $this = $(this);
        if ($('#minim_chat_window').hasClass('panel-collapsed')) {
            $this.parents('.panel').find('.panel-body').slideDown();
            $('#minim_chat_window').removeClass('panel-collapsed');
            $('#minim_chat_window').removeClass('glyphicon-plus').addClass('glyphicon-minus');
        }
    });
    $(document).on('click', '#new_chat', function (e) {
        var size = $( ".chat-window:last-child" ).css("margin-left");
         size_total = parseInt(size) + 400;
        alert(size_total);
        var clone = $( "#chat_window_1" ).clone().appendTo( ".container" );
        clone.css("margin-left", size_total);
    });
    $(document).on('click', '.icon_close', function (e) {
        //$(this).parent().parent().parent().parent().remove();
        $( "#chat_window_1" ).remove();
    });

    stompClient = Stomp.client("wss://ge.danielhuici.ml:8888/ws");
    stompClient.connect({"username": myUsername}, function (frame) {
        showConnected()
        reconnectAttempts = 0;
        stompClient.subscribe('/topic/'+myUsername, function (message) {
            handleNewMessage(message)
        });
        stompClient.subscribe('/topic/'+"anuncios", function (message) {
            handleAnuncioMessage(message)
        });
    }, function (frame) {
        console.log("Error Frame: " + frame);
        if (frame.indexOf("Whoops! Lost connection") >= 0){
            console.log("Handling system disconnect");
            setConnected(false);
            if (reconnectAttempts <= maximumReconnectAttempts){
                reconnectAttempts++;
                setTimeout(function(){ connect() }, 15000);
            }
        }
    });

addSendContent()
getUsers()
getGroups()
getUnreadMessages()
getMessagesUsuario()
getMessagesGrupo()
setUploadButton()


function getMyUser() {
    url = "/miusuario"
    $.getJSON(url, function(data) {
        myUsername = data.usuario;
    });
}

function handleNewMessage(message) {
    console.log('userchat Body: ' + message.body);
    var chatMessage = JSON.parse(message.body);
    if (chatMessage.fuente == currentTo) {
        var compiledReceiving = _.template(RECEIVING_TEMPLATE);
        mensaje = compiledReceiving({msg:chatMessage.contenido,usr:chatMessage.fuente,datetim:getCurrentTime(),avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
        $("#chat_base").append(mensaje);
    } else {
        alert("¡¡NUEVO MENSAJE!! (" + chatMessage.fuente + "): " + chatMessage.contenido)
    }
}
function handleAnuncioMessage(message) {
    var chatMessage = JSON.parse(message.body);
    if (chatMessage.fuente != myUsername) { // No mostrar el mensaje nuevo si la fuente soy yo!

        alert("¡¡Anuncios/Publicidad de interés y publicidad del sistema!! : " + chatMessage.contenido)

    }
}
//
function handleGroupMessage(receivedGroupMessage, message) {
    var chatMessage = JSON.parse(message.body);
    if (chatMessage.fuente != myUsername) { // No mostrar el mensaje nuevo si la fuente soy yo!
        if (receivedGroupMessage == currentTo) {
            var compiledReceiving = _.template(RECEIVING_TEMPLATE);
            mensaje = compiledReceiving({msg:chatMessage.contenido,usr:chatMessage.fuente,datetim:getCurrentTime(),avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
            $("#chat_base").append(mensaje);
        } else {
            alert("¡¡NUEVO MENSAJE!! (" + chatMessage.fuente + "): " + chatMessage.contenido)
        }
    }
}

function getUsers() {
    usuarioTemplate = "<a href='chat?&to=<%= usr %>'> <%= usr %> </a><br>"
    var compiledUsuarioTemplate = _.template(usuarioTemplate);
    var todos = ""
    url = "/usuarios"
    todos += "<a href='chat?&to=anuncios'> == ANUNCIOS == </a><br>";
    $.getJSON( url, function(data) {
        console.log(data);
        var listaUsuarios = data.listaUsuarios;
        listaUsuarios.forEach(function(user) {
            console.log(user);
            var msg = compiledUsuarioTemplate({usr:user});
            todos += msg
        });

        $("#user_base").html(todos);
    });

}

function getGroups() {
    gruposTemplate = "<a href='chat?&to=<%= usr %>'> <%= usr %> </a><br>"
    var compiledUsuarioTemplate = _.template(gruposTemplate);
    var todos = ""
-     url = "/grupos/obtener"
    $.getJSON(url, function(data) {
        console.log(data);
        var listaGrupos = data.listaGrupos;
        listaGrupos.forEach(function(group) {
            console.log(group);
            var msg = compiledUsuarioTemplate({'username': myUsername, usr:group});
            todos += msg
            stompClient.subscribe('/topic/' + group, function (message) {
                handleGroupMessage(group, message)
            });
        });

        $("#group_base").html(todos);
    });
}

function setUploadButton() {
    uploadTemplate = "<form method=\"POST\" enctype=\"multipart/form-data\"  action=\"/fichero\" >\n" +
        "                            <table>\n" +
        "                                <tr><td><input id=\"input-file\" type=\"file\" name=\"file\" /></td>\n" +
        "                                    <input type=\"hidden\" name=\"currentTo\" value=\"<%= currentTo %>\" />\n" +
        "                                    <td><input type=\"submit\" value=\"Subir\"/></td>\n" +
        "                                </tr>\n" +
        "                            </table>\n" +
        "                        </form>"
    var compiledUploadTemplate = _.template(uploadTemplate);
    $("#user_upload").html(compiledUploadTemplate({'currentTo': currentTo}));
}


/*function getMessages() {
    url = "/mensajes?destinatario="+currentTo;
    $.getJSON(url, function(mensajes) {
        console.log(mensajes);
        var listaMensajes = mensajes.listaMensajes;
        listaMensajes.forEach(function(mensaje) {
            if(mensaje.fuente == myUsername) {
                var compiledSending = _.template(SENDING_TEMPLATE)
                mensaje = compiledSending({msg:mensaje.contenido,usr:mensaje.fuente,datetim:mensaje.fecha,avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
                $("#chat_base").append(mensaje);
            } else {
                var compiledReceiving = _.template(RECEIVING_TEMPLATE)
                mensaje = compiledReceiving({msg:mensaje.contenido,usr:mensaje.fuente,datetim:mensaje.fecha,avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
                $("#chat_base").append(mensaje);
            }
        });
    });
}*/
function getMessagesUsuario() {
    url = "/mensajes?destinatario="+currentTo;
    $.getJSON(url, function(mensajes) {
        console.log(mensajes);
        var listaMensajes = mensajes.listaMensajes;
        listaMensajes.forEach(function(mensaje) {
            if(mensaje.fuente == myUsername) {
                var compiledSending = _.template(SENDING_TEMPLATE)
                mensaje = compiledSending({msg:mensaje.contenido,usr:mensaje.fuente,datetim:mensaje.fecha,avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
                $("#chat_base").append(mensaje);
            } else {
                var compiledReceiving = _.template(RECEIVING_TEMPLATE)
                mensaje = compiledReceiving({msg:mensaje.contenido,usr:mensaje.fuente,datetim:mensaje.fecha,avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
                $("#chat_base").append(mensaje);
            }
        });
    });
}

function getMessagesGrupo() {
    url = "/grupos/mensajes?destinatario="+currentTo;
    $.getJSON(url, function(mensajes) {
        console.log(mensajes);
        var listaMensajes = mensajes.listaMensajes;
        listaMensajes.forEach(function(mensaje) {
            var compiledReceiving = _.template(RECEIVING_TEMPLATE)
            mensaje = compiledReceiving({msg:mensaje.contenido,usr:mensaje.fuente,datetim:mensaje.fecha,avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});
            $("#chat_base").append(mensaje);
        });
    });
}



function getUnreadMessages() {
    url = "/noleidos";
    $.getJSON(url, function(mensajes) {
        console.log(mensajes);
        var listaMensajes = mensajes.listaMensajes;
        listaMensajes.forEach(function(mensaje) {
            alert("--- MENSAJE NO LEIDO DE " + mensaje.fuente + " --- " + mensaje.contenido);
        });
    });
}

function addSendContent() {
    const div = document.createElement('div');

    div.className = 'test';
    div.innerHTML = `
                    <div class="input-group">
                        <input id="btn-input" type="text" class="form-control input-sm chat_input" placeholder="Write your message here..." />
                        <span class="input-group-btn">
                        <button class="btn btn-primary btn-sm" id="btn-chat" onclick="send_chat()">Send</button>
                        </span>
                    </div>
                    <div id="user_upload">
                    </div>
                `;

    if(currentTo != 'anuncios') {
        document.getElementById('write-text').appendChild(div);
    }


}


function getCurrentTime() {
    var date = new Date();
    var dateStr =
        ("00" + (date.getMonth() + 1)).slice(-2) + "/" +
        ("00" + date.getDate()).slice(-2) + "/" +
        date.getFullYear() + " " +
        ("00" + date.getHours()).slice(-2) + ":" +
        ("00" + date.getMinutes()).slice(-2) + ":" +
        ("00" + date.getSeconds()).slice(-2);


    return dateStr
}


function showConnected() {
    var TEXT_TEMPLATE = '<h4><p style="color:#008000";>Conectado: <%= myUsername %></h4>'
    var compiledText = _.template(TEXT_TEMPLATE)
    texto = compiledText({'username': myUsername});
    $("#connection-text").append(texto);
}

//screen blinking and sound
function notificalo(){
    $.titleAlert("Nuevo mensaje de chat!", {
                    requireBlur:false,
                    stopOnFocus:false,
                    duration:4000,
                    interval:700
                    });
                $('#chatAudio')[0].play();
}

function getUrlParameter(sParam) {
    var sPageURL = window.location.search.substring(1);
    var sURLVariables = sPageURL.split('&');
    for (var i = 0; i < sURLVariables.length; i++) {
        var sParameterName = sURLVariables[i].split('=');
        if (sParameterName[0] == sParam) {
            return sParameterName[1];
        }
    }
}

//detecto la tecla enter
$( "#btn-input" ).keypress(function( event ) {
    if ( event.which == 13 ) {
        event.preventDefault();
        send_chat();
    }
});

function send_chat(){
    msg=$("#btn-input").val();
    send_message(msg);
    bajalo();
    $("#btn-input").val("");
    $("#btn-input").focus();
}

function send_broadcast(){
    msg = $("#btn-broadcast").val();
    send_msg_broadcast(msg);
    bajalo_anuypubli();
    // Implementar aquí el envío broadcast
    $("#btn-broadcast").val("");
    $("#btn-broadcast").focus();
}

function create_group(){
    grupo = $("#btn-input-create").val();
    //send_message(msg);

    url = "/grupos/crear";
    $.get(url, {nombreGrupo: grupo}, function(res) {});

    $("#btn-input-create").val("");
    $("#btn-input-create").focus();
    //window.location.reload();
    gruposTemplate = "<a href='chat?&to=<%= usr %>'> <%= usr %> </a><br>"
    var compiledUsuarioTemplate = _.template(gruposTemplate);
    var msg = compiledUsuarioTemplate({ usr:grupo});
    $("#group_base").append(msg);
}

function remove_group(){
    grupo = $("#btn-input-remove").val();

    url = "/grupos/eliminar";
    $.get(url, {nombreGrupo: grupo}, function(res) {});

    $("#btn-input-remove").val("");
    $("#btn-input-remove").focus();
    window.location.reload();

}

function add_user(){
    usuario = $("#btn-input-nombreusuario").val();
    grupo = $("#btn-input-nombregrupo").val();

    url = "/grupos/anadir_usuario";
    $.get(url, {nombreUsuario: usuario, nombreGrupo: grupo}, function(res) {});

    $("#btn-input-nombreusuario").val("");
    $("#btn-input-nombreusuario").focus();
    $("#btn-input-nombregrupo").val("");
    $("#btn-input-nombregrupo").focus();

    window.location.reload();

}

function remove_user(){
    usuario = $("#btn-input-nombreusuario").val();
    grupo = $("#btn-input-nombregrupo").val();

    url = "/grupos/eliminar_usuario";
    $.get(url, {nombreUsuario: usuario, nombreGrupo: grupo}, function(res) {});

    $("#btn-input-nombreusuario").val("");
    $("#btn-input-nombreusuario").focus();
    $("#btn-input-nombregrupo").val("");
    $("#btn-input-nombregrupo").focus();

    window.location.reload();
}

function send_message(msg) {
    var compiledSending = _.template(SENDING_TEMPLATE)

    if (msg.length < 500) {
        var jsonString =  JSON.stringify({'contenido': msg, 'fuente': myUsername, 'destino':currentTo});
        stompClient.send("/app/chat/" + currentTo, {'username': currentTo}, jsonString);
        mensaje = compiledSending({msg:msg,usr:myUsername,datetim:getCurrentTime(),avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});

        $("#chat_base").append(mensaje);
    }
}

function send_msg_broadcast(msg) {
    var compiledSending = _.template(SENDING_TEMPLATE)

    if (msg.length < 500) {
        var jsonString =  JSON.stringify({'contenido': msg, 'fuente': myUsername, 'destino':"anuncios"});
        stompClient.send("/app/chat/" + "anuypubli", {'username': "anuypubli"}, jsonString);
        mensaje = compiledSending({msg:msg,usr:myUsername,datetim:getCurrentTime(),avat:"https://muratselek.com.tr/wp-content/uploads/2019/01/yorum-icon-avatar-men-768x768.png"});

        $("#chat_base_anuypubli").append(mensaje);
    }
}


function bajalo(){
    var wtf    = $("#chat_base");
     var height = wtf[0].scrollHeight;
     wtf.scrollTop(height);
     //get_users();
}
function bajalo_anuypubli(){
    var wtf    = $("#chat_base_anuypubli");
    var height = wtf[0].scrollHeight;
    wtf.scrollTop(height);
    //get_users();
}


</script>
</body>
